.AboutMe {
    padding: 6.8rem 5rem 5.5rem 2.8rem;
    flex-basis: 50%;
}

.TopAboutMe::after {
    content: '';
    border-bottom: 1px solid #939497;
    height: 100%;
    display: block;
}

.name_about_me {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.wrap_contact, .text_about_me {
    font-size: 1.1rem;
}
.color_text, .name_about_me {
    color: #a1a1a0;
}
.color_info, .text_about_me {
    color: #ffffff;
}
.color_active {
    color: #528ebe;
}
.color_active:hover {
    color: #ffffff;
}


@media only screen and (max-width: 768px) {
    .AboutMe {
        padding: 0.8rem 5rem 0.5rem 2.8rem;
    }
  }

