.FullName {
    padding: 4.8rem 3.5rem 3rem 3.5rem;
    flex-basis: 50%;
    text-align: center;
    border-right: 1px solid #939497;
}
.Logo {
    margin: auto;
    width: 13rem;
    height: 13rem;
    border-radius: 220px;
    background-image: url("../img/avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.name, .position {
    color: #ffffff;
}
.name, .surname {
    font-size: 1.8rem;
}
.up_size {
    text-transform: uppercase;
}
.surname {
    color: #ba7532;
}
.git_link{
    color: #528ebe;
}
.git_link:hover{
    color: #ffffff;
}

@media  (max-width: 768px) {
    .FullName {
        padding: 4.8rem 3.5rem 0rem 3.5rem;
    }
  }