.nav {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    color: #ffffff;
    text-transform: uppercase;
}
.nav_item {
    padding: 1rem 1rem;
}
.nav_item > a {
    /* color: #ffffff; */
}
.nav_link {
    color: #fbac03;
}
a {
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .nav, .Line {
        display: none;
    }
  }