.Content {
    width: 100%;
    text-align: center;
    margin-top: 0.3rem;
}
.Line {
    width: 85%;
    margin: auto;
    background-color: #939497;
    height: 1px;
    margin-top: 1rem;
}
.Hobbies_Language {
    border-top: 1px solid lightgrey;
}
.Experience_skills, .Hobbies_Language {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .Experience_skills, .Hobbies_Language {
        display: unset;
    }
    .Experience_skills {
        display: flex;
        flex-direction: column-reverse;
    }
  }