.Experience {
    flex-basis: 70%;
    padding: 10px;
    background-color: #ffffff;
}
.wrap_colum_exp {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.1rem;
}
.left_exp {
    flex-basis: 30%
}
.right_exp {
    flex-basis: 70%;
    text-align: left;
}

.start_work, .developer_position {
    text-align: left;
}
.developer_position {
    color: #528ebe;
}
.company_name {
    color: #606163;
}
.start_work, .description {
    color: #808183;
}
.description {
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}
.expirience_fix {
    /* display: block; */
}
.tetss {
    /* flex-basis: 30%; */
    
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 910px) {
.right_exp {
    padding-left: 2rem;
  }
}