.projects_text {
    position: absolute;
    width: 100%;
}
.Projects::after{
    content: '';
    border-bottom: 1px solid lightgrey;
    display: block;
}


@media (max-width: 375px){
    .projects_text {
        position: static;
        color: #ffffff;
    }
}