.Skills {
    flex-basis: 30%;
    background-color: lightgrey;
    padding: 10px;
}
.skillbar-title {
    background-color: #fbac03;
    color: #ffffff;
}
.skillbar-percent {
    color: #222222;
}
.skillbar-bar {
    width: auto !important;
}