.App {
  max-width: 1440px;
  /* background-color: #ffffff; */
  /* height: 1000px; */
  min-width: fit-content;
  margin: auto;
  background-color: #222222;
}
li {
  list-style: none;
}
ul{
  padding: 0;
}
.skillbar-percent{
  display: none;
}
.skillbar {
  background-color: #fbac03;
  width: 100%;
}